.centerDiv{
    position: absolute;
    top: 50%;
    height: 200px;
    margin-top: -100px; /* Half of the height */
    left: 50%;
    width:200px;
    margin-left: -100px; /* Half of the width */
    border-radius: 5px;
    background:#ccc;
    padding:10px;
}
.rightDiv{
    position: absolute;
    top: 0%;
    height: 20px;
    margin-top: 0px; /* Half of the height */
    left: 100%;
    width:200px;
    margin-left: -250px; /* Half of the width */
    border-radius: 5px;
    background:#ccc;
    padding:10px;
}

.boardBG0{
    position: absolute;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    background-color: white;
}

.boardBG1{
    position: absolute;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    background-color: black;
}

.cell{
    position: absolute;
    border-width: 2px;
    width: 16px;
    padding: 0px;
    margin: 0px;
    height: 16px;
}

.cell0{
    border-style: solid;
    border-color: black;
}

.cell1{
    border-style: double;
    border-color: Chartreuse;
}